/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body {
  background-color: #000000;
  color: #ddd;
}

*{
  box-sizing: border-box;
}

main{
  max-width: fit-content;
  margin: 0 auto;      
  padding: 20px;
}

h1{
  text-align: center;
  margin: 0;
  color: #fff;
  font-size: 2.5rem;
}

h1 span{
  font-size: 1rem;
  vertical-align: top;
  display: inline-block;
  margin-top: 6px;
}

form{
  margin-top: 20px;
}

form input{
  width: 100%;
  background-color: transparent;
  color: white;
  border: 2px solid #30313d;
  padding: 2px 5px;
  border-radius: 5px;
}

form input[type="submit"]{
  color: #777;
}

form div.basic{
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

form button{
  width: 100%;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  background-color: hsl(125, 47%, 54%);
}

div.transactions{
  margin-top: 10px;
}

div.transaction{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #30313d;
  padding: 5px 0;
}

div.transaction:first-child{
  border-top: 0;
}

div.transaction div.name{
  font-size: 1rem;
}

div.transaction div.description{
  font-size: .7rem;
  color: #888;
}

div.left, div.right {
  flex: 1;  /* Si adattano in larghezza per riempire lo spazio */
}

div.left {
  margin-right: 20px;  /* Spazio tra left e right */
}

div.price.green{
  color: #1c1;
}

div.price.red{
  color: #d31;
}

div.transaction div.datetime{
  font-size: .7rem;
  color: #888;
}

/* STILE PULSANTI */

.add-button{
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover{
  background-color: hsl(125, 47%, 44%);
}

.delete-button{
  width: fit-content;
  background-color: hsl(10, 90%, 50%);
}

.delete-button:hover{
  background-color: hsl(10, 90%, 40%);
}

.move-button{
  background-color: hsl(207, 90%, 64%);
}

.move-button:hover{
  background-color: hsl(207, 90%, 54%);
}

/* .delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
} */

/*********************************    **********************************/
/*********************************  STILE PER LOG-PAGE, SIGN-PAGE E HOMEPAGE  **********************************/

body{
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #444;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li{
  margin-left: 20px;
}
nav li a{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.btn{
  border-radius: 36px;
  background: #FEE996;
}
form h2{
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}
form{
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: rgb(0, 0, 0);
}
input{
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}
label{
  display: block;
  margin: 20px 0 10px;
}
button{
  margin-top: 30px;
  border-radius: 36px;
  background: #FEE996;
  border:0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.error{
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}
header{
  display: flex;
  align-items: center;
}
header img{
  width: 250px;
  margin-right: 40px;
}
header h2{
  font-size: 3em;
  margin-bottom: 10px;
}
header h3{
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #999;
}
header .btn{
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}
.recipes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 80px;
  margin: 80PX AUTO;
  max-width: 1200px;
}
.recipe{
  display: inline-block;
  border-radius: 20px;
  background: white;
  position: relative;
  text-align: center;
  padding: 0 20px 30px 20px
}
.recipe img{
  width: 100px;
  margin: -30px auto 20px;
}
footer{
  text-align: center;
  margin-top: 120px;
  color: #aaa;
}
.error-message {
  color: red;          /* Colore del testo */
  font-weight: bold;  /* Grassetto per il testo */
  margin-top: 0.5rem; /* Margine superiore per spazio */
}